/* ------------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
    color: rgba(236, 240, 241, 0.5);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.author-box {
    padding: 13px;
    margin-left: 20px;
}

.author-box img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-left: 30px;
    opacity: 0.6;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.author-text {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 0px;
}

.author-box img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/* ------ HEADINGS ------ */

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgba(236, 240, 241, 0.5);
    font-size: 600%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size:110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: rgba(236, 240, 241, 0.5);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------ PARAGRAPHS ------ */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    line-height: 145%;
}

.copyrights {
    padding-top: 510px;
    padding-left: 970px;
}

/* ------ ICONS ------ */
.icon-big {
    font-size: 350%;
    display: block;
    color: rgba(236, 240, 241, 0.5);
    margin-bottom: 10px;
}

/* ------ BUTTONS ------ */
.btn:link, 
.but:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 300px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: rgba(127, 140, 141, 0.5);
    border: 1px solid rgba(127, 140, 141, 0.5);
    color: #ecf0f1;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid rgba(127, 140, 141, 0.5);
    color: #ecf0f1;
}

.btn:hover,
.btn:active {
    background-color: rgba(127, 140, 141, 0.5);
}

/* ------ MEDIA ------ */

.trailer {
    margin-left: 300px;
}

/* ------------------------------------------------------*/
/* HEADER */
/* ------------------------------------------------------*/

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(img/house.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(img/house.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    position: absolute;
    top: 40%;
    left: 10%;

}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;   
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover {
    border-bottom: 2px solid rgba(127, 140, 141, 0.5);
}

.main-nav li a:active {
    color: rgba(127, 140, 141, 0.5);
}

sub {
    font-size: 50%;
    padding-left: 8px;
}

/* Sticky navi */
.sticky {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.98);
    box-shadow: 0 2px 2px #393939;
    z-index: 9999;
}

.main-nav {
    margin-top: 18px;
    margin-bottom: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 15px 0;
    color: #ecf0f1;
}

/* ------------------------------------------------------*/
/* FEATURES */
/* ------------------------------------------------------*/

.section-charles .long-copy {
    margin-bottom: 30px;
}


/* ------------------------------------------------------*/
/* SECTIONS */
/* ------------------------------------------------------*/

.section-charles {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/flashlight.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/flashlight.jpg);
}

.section-gameplay {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/hallway.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/hallway.jpg);
}

.section-artwork {

    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(img/empty-room.jpg);

    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(img/empty-room.jpg);
}

.section-ominous {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/horse-room.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/horse-room.jpg);
}

/* ------------------------------------------------------*/
/* ARTWORK */
/* ------------------------------------------------------*/

.artwork-showcase {
    list-style: none;
    width: 100%
        
}

.artwork-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.art-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.art-photo img {
    opacity: 0.7;
    width: 355px;
    height: 275px;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.art-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/* ------------------------------------------------------*/
/* ANIMATIONS */
/* ------------------------------------------------------*/
.js--wp-1,
.js--wp-3,
.js--wp-4
{
    opacity:0;
}

.js--wp-1.animated,
.js--wp-3.animated,
.js--wp-4.animated
{
    opacity:1;
}